/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***** Global styles rules ***********/

html {
	scroll-behavior: smooth;
}

body {
	background: #e5e5e5;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
}

.container-fluid {
	flex-wrap: nowrap !important;
	padding-left: 0;
	padding-right: 0;
	position: relative;
}

main {
	margin-top: 8em;
}

main,
footer {
	padding-left: 1em;
	padding-right: 1em;
}


a {
	color: inherit;
	text-decoration: none;
}

figure {
	position: relative;
}

/******* nav ********/

.navbar {
	padding-top: 1em;
	padding-bottom: 1em;
	z-index: 999999;
}

.navbar-bg-white {
	background-color: #fff;
}

.nav {
	flex-wrap: nowrap;
	color: #000;
	font-size: 14px;
	
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: right;

}

.nav > .active {
	color: #e44207;
}

/******* main *******/

.name {
	font-family: Poppins;
	font-size: 2.5rem;
	
	font-weight: 800;
	line-height: 2em;
	letter-spacing: 0em;
	text-align: left;

}

section {
	padding-top: 1.3em;
}

p {
	color: #727274;
	font-family: Poppins;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.8em;
	letter-spacing: 0em;
	padding: 1em 0;
	text-align: left;	
}

.heading {
	color: #000;
	letter-spacing: 0;
	text-align: left;
}

.social-network {
	padding: 1em 0;
}

.social-network-heading {
	color: #525252;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.8em;
	padding-bottom: 1.4em;
}

.social-network-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #f9855b;
}

.section-heading {
	font-size: 1.75rem;
	font-weight: 800;
	line-height: 2em;
}

.portfolio-items-group {
	background-color: #e5e5e5;
	padding-top: 1em;
	position: relative;
}

figure {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%);
	border: 1px solid rgba(0, 0, 0, 0.05);
	box-sizing: border-box;
	padding: 2.5em;
	z-index: 99999;
}

.portfolio figcaption {
	color: #fff;
	font-size: 1.6rem;
	
	font-weight: 700;
	line-height: 2.4em;
	letter-spacing: 0em;
	text-align: left;	
	position: absolute;
	top: 2%;
	left: 10%;
}

.built-tools {
	padding: 1.5em 0;
	display: flex;
	flex-wrap: wrap;
}

.built-tools > .tool {
	background: #423B39;
	color: #fff;
	font-weight: 500;
	font-style: normal;
	font-family: Poppins;
	font-size: 0.9rem;
	line-height: 1.3em;
	margin: 0.3em;
	padding: 0.3em;
	vertical-align: middle;
	text-align: center;
}

.see-project-button {
	font-weight: bolder;
	font-size: 1rem;
	text-align: center;
	padding: 0.5em;
	width: 100%;
	background: #f9855b;
	border: none;
	color: #fff;
	line-height: 1.5em;
	z-index: 999999;
}

.icon:hover {
	color: chocolate;
	transition: color 0.15s ease-in-out;
}

.see-project-button:hover,
.resume-link:hover {
	background-color: chocolate;
	box-shadow: 0.1em 0.1em 0.5em 0.1em rgb(156, 133, 116);
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.about-me .resume-link {
	display: inline-block;
	background: #f9855b;
	width: 65%;
	padding: 1.1em;
	color: #fff;
	font-size: 1rem;
	line-height: 1.5em;
	font-weight: bolder;
	text-align: center;
}

.tech-and-skills .group {
	border-bottom: 0.13em solid #cfd2da;
	padding: 1.4em 0;
}

.tech-and-skills .group:last-child {
	border: none;
}

.tech-and-skills .heading {
	font-weight: 600;
	font-size: 20px;
	line-height: 105.3%;
}

.tech-and-skills .stack {
	font-size: 1rem;
	line-height: 2.13em;
	color: #727274;
	padding: 1em 0;
}

.tech-and-skills .item {
	margin-right: 0.8em;
}

/****** footer ******/

footer {
	background: #f9855b;
	padding-top: 1.7em;
	padding-bottom: 1.7em;
	text-align: center;
}

footer .heading {
	color: #fff;
	font-weight: 800;
	font-size: 1.75rem;
	text-align: center;
}

footer p {
	color: #fff;
	text-align: center;
}

footer .form-control {
	background: #fff;
	border: none;
	border-radius: 0;
	display: flex;
	align-items: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

footer .submit-btn {
	color: #fff;
	background: #000000;
	border: 0.06 solid #000000;
	box-sizing: border-box;
	border-radius: 0;
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.07em;
	text-align: center;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

footer address > .email-address,
footer .copyright {
	color: #ffdacc;
	font-weight: normal;
	font-size: 1rem;
	line-height: 24px;
	text-align: center;
}

footer .social-network-nav {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border-bottom: 0.13em solid #ffa07d;
}

footer .social-network-nav > .social-network-nav-link {
	color: #fff;
}

footer .social-network-nav-link:hover {
	color: rgb(139, 90, 55);
	transition: color .15s ease-in-out;
}

.copyright {
	display: inline-block;
	padding: 1em 0;
}


/****** modals ******/

.modal {
	z-index: 9999999999;
}
.modal-body {
	padding-top: 0;
}

.main-modal-img {
	padding: 0;
}

.content-wrapper {
	padding:  0 1.5em;
}

.small-pics-and-btn-wrapper,
.buttons-wrapper {
	padding: 1.5em 0;
}


.modal .btn {
	background: #f9855b;
	border: none;
	border-radius: 0;
	color: #fff;
	font-weight: bolder;
	font-size: 1rem;
	line-height: 1.5em;
	padding: 1em;
	text-align: center;
}

.modal .close {
	border-radius: 0;
	background-color: #f9855b;
	color: #fff;
	opacity: 1;
	position: absolute;
	right: 0;
	height: 2.82em;
	width: 2.82em;
	z-index: 999999;
	
}

.modal .btn > .icon {
	float: right;
}

/****** media query ******/

@media only screen and (min-width: 576px) {
	.intro .social-network-nav {
		justify-content: flex-start;
	}

	.intro .social-network-nav-link {
		margin-right: 2em;
	}

	footer .social-network-nav {
		justify-content: space-evenly;
	}
}

@media only screen and (min-width: 768px) {
	.see-project-button {
		position: absolute;
		bottom: 3%;
		left: 4%;
		width: 45%;
	} 

	.portfolio .built-tools {
		display: none;
	}

	.portfolio figure {
		position: relative;
	}

}

@media only screen and (min-width: 992px) {
	.container-fluid {
		width: 86%;
	}

	.bg-deco-right {
		background-image: url("../images/background_shapes_desktop_right.svg");
		background-position: top right;
		background-repeat: no-repeat;
		background-size: contain;
		/* position: absolute; */
	}

	.bg-deco-left {
		background-image: url("../images/background_shapes_2_desktop_left_bottom.svg");
		background-position: top left;
		background-repeat: no-repeat;
		position: relative;
		top: 5%;
	}
	
	.intro {
		width: 46%;
	}

	.lower-section {
		display: flex;
		justify-content: space-between;
	}

	.about-me {
		max-width: 35%;
	}

	.tech-and-skills {
		max-width: 50%;
	}

	footer .container-fluid {
		width: 36%;
	}

	.form-group-flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.form-group-flex .form-group {
		width: 49%;
	}

	footer .social-network-nav {
		justify-content: space-evenly;
	}

	.modal-dialog {
		max-width: 75%;
	}

	.small-pics-and-btn-wrapper {
		display: flex;
		justify-content: space-between;
	}

	.small-pics-wrapper {
		flex-basis: 70%;
	}

	.buttons-wrapper {
		flex-basis: 20%;
	}
}
